#cardsEle:hover .w-8 {
    fill: green;
    transition: all 0.3s ease-in-out;
}
.cardsEle {
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.cardsEle:hover {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
}