#OOP-ele:hover .w-8 {
    fill: green;
}
.OOP-ele {
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.OOP-ele:hover {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
}
