.background {
    height: 250px; /* Height of the background */
    background: linear-gradient(to top right, rgb(137, 33, 137), rgb(99, 45, 165)); /* Gradient from purple to violet */
    position: relative;
    width: 100%;
    top: auto;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Color of the topic name */
    font-size: 36px; /* Adjust font size as needed */
    font-weight: bold;
  }
  