.background {
  height: 250px; /* Height of the background */
  background: linear-gradient(to right, #FFA500, #8B0000); /* Gradient from orange to dark red */
  position: relative;
  width: 100%;
  top: auto;
}
  
  .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /*Color of the topic name */
    font-size: 26px; /* Adjust font size as needed */
    font-weight: bold;
  }
  
  /* .Pagebg{
    background: black;
    background-image: `url(${background})`;
    
  } */